#totalUserInfo {
	padding: 10px;
	right: 10px;
	font-size: small;
	text-align: right;
	float: right;
}

#userManagerPagenation{
	width:50%;
	display:block;
	margin-right: auto;
	margin-left: auto;
}

.paginationWrapper{
	width: 100%;
}

#userManagerMenu button {
	margin: 0px;
	float: left;
}

#findBlock input {
	margin: 0px;
	float: right;
}

#findBlock select {
	margin: 0px;
	float: right;
}

#findBlock button {
	margin: 0px;
	float: right;
}

#popUpBackground {
	background: #000;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-moz-opacity: 0.4;
	opacity: 0.4;
	filter: alpha(opacity = 40) !important;
	display: none;
}

#ajax_indicator {
	display: none;
	position: absolute;
	left: 50%;
	margin: auto;
	vertical-align: middle;
}

/* http://docs.jquery.com/UI/Autocomplete#theming*/
.ui-autocomplete {
	position: absolute;
	cursor: default;
	background: #CCC
}

/* workarounds */
html .ui-autocomplete {
	width: 1px;
} /* without this, the menu expands to 100% in IE6 */
.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	float: left;
}

.ui-menu .ui-menu {
	margin-top: -3px;
}

.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}

.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: .2em .4em;
	line-height: 1.5;
	zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active
	{
	font-weight: normal;
	margin: -1px;
}

#totalUserInfo {
	width: 100%
}

.form-control{
	width: 150px;
}


