body {
	background: #ffffff;
	font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
	height: 100%;
}

html {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -50px;
	padding-bottom: 20px;
}

.wrapper:after {
	content: "";
	display: block;
}

#header {
	height: 40px;
	background-color: #FFFFFF;
	color: #bee867;
	font-size: small;
}

#menu {
	height: 30px;
	z-index: 1;
	margin-bottom: 10px;
}

.footer {
	border-top: 2px solid #bee867;
	padding: 10px;
	text-align: center;
	font-size: small;
	bottom: 0px;
	color: green;
}

.footer,.wrapper:after {
	/* .push must be the same height as footer */
	height: 50px;
}

.singIn {
	float: right;
	margin: 10px;
}

.siteName {
	float: left;
	font-size: xx-large;
	margin-left: 20px;
}

.info,.success,.warning,.error,.validation {
	border: 1px solid;
	border-radius: 5px;
	margin: 3px 0px;
	padding: 3px 3px 3px 3px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-size: 10px;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
}

.centerWrapper{
	height: 40%;
	
}
.centerForm{
	position:absolute;
	margin: auto;
	width: 50%;
	height: 10%;	
	text-align: center;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
}

.commentsBlock{
	border-top: 1px solid black;
	margin-top: 20px;
}

table {
	font-size: small;
}