@CHARSET "UTF-8";

#profilePhoto {
	position: relative;
	height: 130px;
	width: 100px;
	border-style: solid;
	border-color: green;
	float: left;
	margin: 10px;
}

#userImg {
	width: 100%;
	height: 100%
}

#profileMainInfo {
	position: relative;
	float: left;
	margin-left: 20px;
	width: 500px;
}

.userName {
	font-size: 25px;
	margin: 5px;
}

.userInfo {
	font-size: 12px;
	margin: 5px;
	font-weight: bold;
}

.userInfo span {
	font-weight: normal;
	font-style: italic;
}

#editAvatar {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0.1;
	top: 0;
	left: 0;
}

#editAvatar:hover {
	position: absolute;
	z-index: 10;
	opacity: 0.6;
	background: white;
}
/*for edit avatar popup window */
.popup-box {
	position: absolute;
	border-radius: 5px;
	background: #fff;
	display: none;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	font-family: Arial, sans-serif;
	z-index: 9999999;
	font-size: 14px;
}

.popup-box .close {
	position: absolute;
	top: 0px;
	right: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor: pointer;
	color: #434343;
	padding: 15px;
	font-size: 15px;
}

.popup-box .close:hover {
	color: red;
}

.popup-box h2 {
	padding: 0;
	margin: 0;
	font-size: 18px;
}

.popup-box .top {
	padding: 15px;
}

.popup-box .bottom {
	background: #eee;
	border-top: 1px solid #e5e5e5;
	padding-top: 10px;
	padding-bottom: 29px;
	padding-left: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 12px;
	font-family: Arial, sans-serif;
}

.popup-box #result {
	margin: 8px;
	font-size: 10px;
}

.popup-box #file {
	border: 1px solid green;
	height: 22px;
	float: left;
	margin-right: -1px;
	margin-bottom: 5px;
	font-family: Arial, sans-serif;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.popup-box #file:HOVER {
	color: red;
}


.popup-box button {
	border: 1px solid green;
	height: 24px;
	float: left;
	margin-left: -1px;
	margin-bottom: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.popup-box button:HOVER {
	color: red;
}

#blackout {
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	overflow: hidden;
	z-index: 999999;
	left: 0;
	display: none;
}


